*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(244, 233, 233);
}
.container{
    max-width: 900px;
    margin:0 auto;

}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color:white ;
    margin:0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
    font-size: 50px;
}
.apply_box h13{
    font-size: 30px;
}
.form_container{
    padding-top: 70px;
    padding-left: 20px;
}
.form_control{
    font-size: 30px;
}
.form_control First_Name{
    height:100px;
    width: 80px;
}


