*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1 {
    font-size:50px;
    font-weight: bold;
    text-transform: uppercase;

}

.top_section h4 {
    font-size:30px;
    text-align: end;
}
.img_container,img{
    height:340px;
    width: 300px;
    border-radius:25%;
    border:2px solid black;
}
.about_sec{
    margin-top: 30px;
}
.about_sec h1{
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}
.about_sec p{
    margin-top: 10px;
    text-align:justify;
    line-height: 20px;
    letter-spacing:1.2px;
    margin-top: 50px;

}
.biography_section{
    margin-top: 10px;
}
.biography_section h3{
   padding-top:30px ;
}
.biography_section ul{
    padding-top:30px ;
    padding-bottom:40px ;
}
.biography_section li{
    margin-bottom:15px ;
}
footer{
    margin-top: 20px;
 
}
footer p{
    text-align: end;
}