div{
    height:100px;
    width:100px;
    background-color: cadetblue;
    border: 4px solid black;
    border-radius: 50%;
    text-align:ceter;
    position: absolute;
    top: 100px;
    left:100px;
    /*animation-name: colorAnimate;
    animation-duration:0.2s ;
    /*animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;*/
    animation: colorAnimate 6s ease-in 0s infinite normal;
}
@keyframes colorAnimate {
    0% {
        left:0px;
        background-color: yellow;
    }
    50%{background-color: blue;}
    100% 
    {
        left:200px;
        background-color: red;
    }
}

div:active {
    background-color: pink;
}