div{
   height:100px;
   width:100px;
   background-color:aqua;
   border: 1px solid black;
   display:inline-block;
}

#box1{
   background-image: url("tiger photo.jpg");
   background-size: cover;
}