.loader {
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 20px solid #FFE66D;
    border-left: 20px solid #4Ecdc4;
    animation: spinAnimate 1s ease-in-out 0s infinite normal;
} 
@keyframes spinAnimate  {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
