ul{
    background-color: red;
    display: flex; /*for same line in navbar*/
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
    background-color: #ff9900;
}

li{
    list-style-type: none;
    display:inline;
}
.outer{
    height:400px;
    width:400px;
    background-color: chocolate;
    display:flex;
    justify-content: center;
    justify-items: center;
}
.inner{
    height:100px;
    width:100px;
    background-color: black;
}    